.page {
  background-color: var(--page-bg-color);
  max-width: 1024px;
  box-sizing: border-box;
  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header {
  display: grid;
  min-height: 768px;
  height: 100vh;
  padding-top: 20px;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 60px;
  padding-bottom: 135px;
}
.header__theme-menu {
  justify-self: center;
  grid-row: 1;
}
.header__theme-menu-list {
  display: flex;
  gap: 11px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__title {
  grid-row: 2;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
  margin: 0;
  line-height: 83%;
  margin-top: 105px;
  padding-left: 0;
}
.title-decor {
  background-color: var(--accent-color);
  font-size: 18px;
  color: rgba(0, 0, 40, 1);
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 10px;
}
.header__text {
  grid-row: 3;
  max-width: 500px;
  width: 100%;
  justify-self: end;
  align-self: center;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  color: rgba(0, 0, 40, 1);
  margin-right: 11px;
  margin-top: 114px;

}
.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--button-color);
  font-size: 18px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', sans-serif;
  line-height: 18px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 1.5px;
  padding-bottom: 2px;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--button-color);
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border: 1px solid var(--button-color);
}
.rec-label {
  display: none;
  position: absolute;
  top: 20px;
  right: 28px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  gap: 10px;
  align-items: center;
  line-height: 25px;
  font-size: 18px;
}
.rec-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 4px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow:
    0 0 2px var(--accent-color),
    0 0 4px var(--accent-color),
    0 0 8px var(--accent-color),
    0 0 12px var(--accent-color);
}
.corner::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.corner::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}
@media (max-width: 768px) {
  .header {
    grid-column: 1fr 1fr;
    min-height: 1024px;
    height: 100vh;
    padding-top: 192px;
  }
  .header__theme-menu {
    justify-self: end;
    padding-right: 19px;
    grid-row: 1;
    grid-column: 2;
  }
  .header__theme-menu-list {
    flex-direction: column;
    gap: 14px;
  }
  .header__text {
    width: 100%;
    margin-bottom: 47px;
    max-width: 364px;
    justify-self: end;
    grid-column: 2;
    margin-right: 21px;
  }
  .header__title {
    padding-top: 0px;
    margin-bottom: 47px;
    grid-column: span 2;
  }
}
@media (max-width: 375px) {
  .header__title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header {
    min-height: 668px;
    height: 100vh;
    padding-top: 86px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 0 0;
  }
  .header__theme-menu-list {
    flex-direction: column;
    gap: 14px;
  }
  .header__text {
    max-width: 355px;
    width: 100%;
    align-self: center;
    justify-self: end;
    margin-bottom: 0;
    margin-top: 54px;
  }
  .corner::after {
    left: 0;
    bottom: 0;
  }
  .header__theme-menu {
    margin-bottom: 66px;
  }

}
.main {
  margin-left: 20px;
  margin-right: 20px;
}
.text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text);
  margin-bottom: 20px;
}
.href {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}
.href:hover {
  border-bottom: 1px solid var(--color-text);
}
.href:focus-visible {
  outline: none;
  border: 1px solid var(--color-text);
}
.content-section {
  display: grid;
  margin-bottom: 60px;
}
.section-title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h2-color);
  justify-self: start;
  max-width: 315px;
  grid-column: 1;
  grid-row: 1;
}
.why {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  align-items: start;
}
.why_title {
  max-width: 315px;
  grid-column: 1;
  grid-row: 1;
}
.why__text_mnogo {
  grid-column: 2;
  grid-row: 1;
}
.why__text_dof {
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 768px) {
  .section-title {
    max-width: 236px;
  }
}
@media (max-width: 375px) {
  .main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .why {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    gap: 20px;
  }
  .why__text_mnogo {
    grid-column: 1;
    grid-row: 2;
  }
  .why__text_dof {
    grid-column: 1;
    grid-row: 3;
  }
  .section-title {
    width: 100%;
    max-width: 375px;
  }
  .text {
    margin-bottom: 0;
  }
}
.what {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 20px;
}
.what_title {
  max-width: 315px;
  grid-row: 1;
  grid-column: 1;
}
.what__text_mnogo {
  grid-row: 2;
  grid-column: 1;
}
.what__text_eda {
  grid-row: 2;
  grid-column: 2;
}
.what__text_gadz {
  grid-row: 2;
  grid-column: 3;
}
@media (max-width: 768px) {
  .what {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content repeat(3, auto);
    margin-bottom: 78px;
  }
  .section-title {
    grid-row: 1;
    grid-column: 1;
  }
  .what__text_mnogo {
    grid-row: 2;
    grid-column: span 2;
  }
  .what__text_eda {
    grid-row: 3;
    grid-column: span 2;
  }
  .what__text_gadz {
    grid-row: 4;
    grid-column: span 2;
  }
  .what p {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .what {
    grid-template-columns: 1fr;
    margin-bottom: 47px;
  }
}
.how {
  grid-template-columns: 335px 1fr;
  grid-template-rows: repeat(6, auto);
}
.how .section-title {
  grid-row: 1 / 3;
}
.how .title-decor {
  font-weight: 400;
}
.how .how_sovet {
  margin-bottom: 18px;
  grid-column: 2;
  grid-row: 1;
  font-weight: 700;
}
.how_pred {
  grid-column: 2;
  grid-row: 2;
}
.how_vkl {
  grid-column: 2;
  grid-row: 3;
}
.how_prog {
  grid-column: 2;
  grid-row: 4;
}
.how_hor {
  grid-column: 2;
  grid-row: 5;
}
.how_chit {
  grid-column: 2;
  grid-row: 6;
}
@media (max-width: 768px) {
  .how {
    grid-template-columns: 1fr 2fr;
    gap: 0px 20px;
  }

}
@media (max-width: 375px) {
  .how {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    margin-bottom: 50px;
    gap: 20px ;
  }
  .how .section-title {
    grid-column: 1;
    grid-row: 1;
    max-width: 375px;
  }
  .how .how_sovet {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 0;
  }
  .how_pred {
    grid-column: 1;
    grid-row: 3;
  }
  .how_vkl {
    grid-column: 1;
    grid-row: 4;
  }
  .how_prog {
    grid-column: 1;
    grid-row: 5;
  }
  .how_hor {
    grid-column: 1;
    grid-row: 6;
  }
  .how_chit {
    grid-column: 1;
    grid-row: 7;
  }
}
.image {
  margin-bottom: 60px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 270px 315px 433px;
  gap: 20px;
}
.gallery img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.sunset {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.tape {
  grid-column: 1 / 2;
  grid-row: span 2;
}

.street {
  grid-column: 2 / 4;
  grid-row: 3;
}

.books {
  grid-column: 2;
  grid-row: 2 ;

}
@media (max-width: 768px) {
  .gallery {
    grid-auto-rows: 202px 230px auto;
  }
}
@media (max-width: 375px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
  }
  .sunset {
    grid-row: 1;
    grid-column: 1;
  }
  .ice-cream {
    grid-row: 2;
    grid-column: 1;
  }
  .tape {
    grid-row: 3;
    grid-column: 1;
  }
  .books {
    grid-row: 4;
    grid-column: 1;
  }
  .street {
    grid-row: 5;
    grid-column: 1;
  }
}
.footer {
  height: 100vh;
  min-height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.footer__title {
  justify-content: center;
  align-content: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
}
.header.corner,
.footer.corner {
  position: relative;
}
@media (max-width: 375px) {
  .footer {
    min-height: 668px;
    height: 100vh;
  }
}
